<div class="map" (window:resize)="onResize($event)">
  <svg
    baseprofile="tiny"
    fill="#ececec"
    [attr.height]="mapHeight"
    [attr.width]="mapWidht"
    stroke="black"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width=".2"
    version="1.2"
    viewbox="0 0 2000 857"
    xmlns="http://www.w3.org/2000/svg"
    (mousedown)="onMouseDown()"
    (window:mouseup)="onMouseUp()"
    (window:mousemove)="onMouseMove($event)"
  >
    <g
      [attr.transform]="
        'scale(' + scale + ') translate(' + xTranslate + ',' + yTranslate + ')'
      "
    >
      <a *ngFor="let country of mapData">
        <path *ngFor="let d of country.paths" [attr.d]="d"></path>
      </a>
    </g>
  </svg>
  <div class="toolbar">
    <button type="button" class="zoom-btn" id="plus" (click)="zoomPlus()">
      +
    </button>
    <button type="button" class="zoom-btn" id="minus" (click)="zoomMinus()">
      -
    </button>
  </div>
</div>
