@use "../../theme";

.tooltip {
  border: 1px solid #fff2;
  background-color: theme.$color-header-bg;
  width: min-content;
  height: min-content;
  padding: 4px 6px;
  font-size: 12px;
  border-radius: 6px;
  position: absolute;
  transform: translate(20px, -20px);
  overflow: hidden;
  white-space: nowrap;
}
